<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->

      <div class="content" role="main">
        <h1 style="padding: 30px; font-family: 'Times New Roman', Times, serif;">
            СТРЕМИСЬ К СОВЕРШЕНСТВУ В ФОТОГРАФИИ
        </h1>
        <!-- <ckeditor [(ngModel)]="content" [config]="config"></ckeditor> -->
        <table>
            <tr>
                <td>
                    <h2 style="margin: 50px; font-family: 'Times New Roman', Times, serif;">
                        Учитесь снимать правильно и делать красивые фото. Размещайте свои прекрасные фото на сайте, делитесь впечатлениями с другими.
                    </h2>
                </td>
                <td>
                        <img src="/assets/085101725.jpg" width="500 px" class="scale"> 
                </td>
            </tr>
        </table>
        <h1 style="padding: 50px; font-family: 'Times New Roman', Times, serif;">Категории</h1>
        <table>
                <tr>
                    <td>
                        <a class="lake" href="#" title="" alt="Серебряное — озеро в Звениговском районе, Марий Эл, Россия. Находится на территории Суслонгерского военного лесхоза."><img src="\assets\oduvanchik-bozhia-korovka-nasekomoe.jpg" width="240px" alt=""  ></a>
                        
                    </td>
                    <td>
                        <img src="\assets\610_5241.jpg" width="240px" class="scale">
                    </td>
                    <td>
                        <img src="\assets\s1200.jpg" width="240px" class="scale">
                    </td>
                    <td>
                        <img src="\assets\15724568.d631aaf3.1200x1200o.24a044fff3a6.jpeg" width="240px" class="scale">
                    </td>
                </tr>
                <tr>
                        <td>
                            <img src="\assets\город.jpg" width="240px" class="scale">
                        </td>
                        <td>
                            <img src="\assets\чб.jpg" width="240px" class="scale">
                        </td>
                        <td>
                            <img src="\assets\флора.jpg" width="240px" class="scale">
                        </td>
                        <td>
                            <img src="\assets\фауна.jpg" width="240px" class="scale">
                        </td>
                    </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <h2 style="color:rgb(68, 45, 37); padding: 30px; font-family: 'Times New Roman', Times, serif;" >О сайте</h2>
                        <h4 style="color:rgb(117, 72, 57); ">Большой портал фотографии, позволяющий пользователям повышать свои знания в области освоения техники съёмки. Сайт предоставляет возможность применить свои знания и умения, в различных направлениях интернет-фотографии и общения.
                            Здесь найдут своё место блогеры, комментаторы, форумчане ну и естественно любители фотодела. Загружайте фотографии на сайт, пишите, участвуйте в конкурсах и комментируйте, выбирайте то что вам по душе!</h4>
                    </td>
                    <td>
                        <h2 style="color:rgb(68, 45, 37); padding: 30px; font-family: 'Times New Roman', Times, serif;">Фото-помощь</h2>
                        <h4 style="color:rgb(117, 72, 57)">Каждый кто взял в руки камеру и заявил о себе Я фотограф, должен знать как управлять настройками и строить композицию кадра... Хотя многие скажут что это лишнее и продолжат плодить бездарные, весьма заурядные фотографии.
                            Но есть те, кому интересно обучение искусству, те кому не жалко времени на прочтение статей и рекомендаций, по правильному использованию техники и как сделать фото привлекательным. Эти люди могут смело называть себя фотографами!</h4>
                    </td>
                </tr>
            </table>
      </div>
      
      <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
      <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
      <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
      <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
      <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
      <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
      <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    
    
          
          
      